#user_text {
    width:80%;
    border-radius: 8px;
    font-size: 12px;
}
p.hey {
    font-size : 40px;    
}

input[type="checkbox"].known_checker {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    float: left;
}