<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    
    <form>
        <input type="text", id="user_text", name="user_text">
    </form>
  
    <button type="button", onclick="showList()">frequency check</button>

    <div id='list'>

    </div>

    <button>Submit</button>

    <p>
      <p>
          user  {{ user.username }}
      </p>
      <a href="{% url 'logout' %}">logout</a>
    </p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}