<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <form>
        <input type="text", id="user_text", name="user_text">
    </form>
  
    <button type="button">frequency check</button>
        <p>
            make <input type="checkbox", class = "known_checker">
        </p>
        <p>
            do <input type="checkbox", class = "known_checker">
        </p>
        <p>
            go <input type="checkbox", class = "known_checker">
        </p>
        <p>
            take <input type="checkbox", class = "known_checker">
        </p>
    <p>
      <a href="{% url 'logout' %}">logout</a>
    </p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}