<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block extra_head %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'js/frequency.js' %}"></script>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <textarea id="user_text", rows="10", cols="50">
    </textarea>
  
    <button type="button", onclick="showList()">frequency words</button>
    <button type="button", onclick="showFreqWords()">selected freqency words</button>

    <div id='list'>

    </div>
    {% csrf_token %}
    <button type="button", onclick="submit()">Submit</button>

    <p>
        <a href="{% url 'recommendedWords' %}">Recommendations</a>
    </p>

    <p>
      <p>
          user : {{ user.username }}
      </p>
      <a href="{% url 'logout' %}">logout</a>
    </p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <p>Do you want to sign up</p>
    <a href="{% url 'signup' %}">sign up</a>
{% endif %}
{% endblock %}