{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}">
{% endblock %}

{% block title %}
    Recommendations
{% endblock %}

{% block content %}
    <a href="/">Home</a>
    
    <h1>Recommended for Study:</h1>

    <!-- List the likely-unknown words -->
    {% if userRecommendedWords.count == 0 %}
        <p>No words to recommend.</p>
    {% else %}
        <ol type="1">
        {% for key, value in userRecommendedWords.items %}
            <li class="word">{{ key }} : {{ value }}</li>
        {% endfor %}
        <!-- <script type="text/javascript" src="{% static 'js/translate.js' %}"></script> -->
        </ol>
    {% endif %}

    <!-- User info & logout -->
    <p>
        <p>
            user : {{ user.username }}
        </p>
        <a href="{% url 'logout' %}">logout</a>
    </p>
{% endblock %}